<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How Chame works?</title>

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link rel="stylesheet" href="/css/site.css" />

    <link rel="stylesheet" href="/chame-loader/css?filter=customization.css" />
</head>
<body>
    <main>
        <div class="container">
            <div class="jumbotron page">
                <h1>
                    How Chame works?
                </h1>

                <p>
                    This simple demo application shows you how Chame works!
                    <br/>
                    <br/>
                    We have three themes in this demo: <i>A</i>, <i>B</i> and <i>C</i>. You can switch themes by clicking buttons below.
                </p>

                <br />
                
                <div class="row">
                    <div class="col-md-4">
                        <form asp-controller="Demo" asp-action="SetThemeA" method="post">
                            <button type="submit" class="btn btn-primary btn-lg">Theme A</button>
                        </form>                        
                    </div>
                    <div class="col-md-4">
                        <form asp-controller="Demo" asp-action="SetThemeB" method="post">
                            <button type="submit" class="btn btn-primary btn-lg">Theme B</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form asp-controller="Demo" asp-action="SetThemeC" method="post">
                            <button type="submit" class="btn btn-primary btn-lg">Theme C</button>
                        </form>
                    </div>
                </div>
                
                <br />
                <br />

                <p>
                    That blue-and-dotted area below is reserved for themed content, so we use different Razor files for different themes.
                </p>

                <div class="demo-container">
                    @Html.Partial("DemoPartialView")
                </div>
                
                @{

                    var s = "<img src=\"/chame-loader/png?filter=logo.png\"/>";
                }
<pre>@s</pre>
                <img src="/chame-loader/png?filter=logo.png"/>
              
            </div>
        </div>
    </main>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/site.js"></script>

    <script src="/chame-loader/js?filter=customization.js"></script>
</body>
</html>



