Tässä vähän testaillaan


<form asp-controller="Demo" asp-action="SwitchTheme" method="post">
    <!-- Input and Submit elements -->
    
    <button type="submit" class="btn btn-primary btn-lg">Switch theme</button>

</form>


@Html.Partial("DemoStatus")