<div class="jumbotron page">
    <h1>
        Demo
    </h1>
    <h2>
        This is a simple demo that shows you how Chame works.
    </h2>
    <p>
        So what is this...
    </p>
    
    

    <form asp-controller="Demo" asp-action="SwitchTheme" method="post">
        <button type="submit" class="btn btn-primary btn-lg">Switch theme</button>
    </form>
    <br />
    <br />
    @Html.Partial("DemoPartialView")
</div>
