<div class="demo-status-box">    
    <h2>
        This is a simple Chame demo!
    </h2>
    <p class="lead">
        <br/>
        <br/>
        This area is an an embedded Razor view and my path is <strong>@Path</strong>
        <br/>
        <br/>
        Please click the big button below to switch themes...
        <br/>
        <br/>
    </p>
</div>