<h3>
    ...and now the current theme is 'B'...................
    :)
    :)
    :)
    :)
    :)
</h3>

<p>
    ...and this content is loaded by using the '<strong>/B/Views/DemoPartialView.csthml</strong>' Razor view.
</p>

@Html.Partial("Foobar")