
<div class="jumbotron page">
    <h1>Chame</h1>
    <p>
        ASP.NET Core library for theming your applications when you need to load different JavaScript, CSS and Razor Views for different themes.
    </p>

    <div class="package">
        Package Manager
        <pre>PM> Install-Package EntityFramework -Version 6.2.0-beta1</pre>
    </div>    
    
    <div class="package">
        .NET CLI
        <pre>> dotnet add package EntityFramework --version 6.2.0-beta1</pre>
    </div>

    <a class="btn btn-primary btn-lg" href="https://www.nuget.org/packages/EntityFramework/6.2.0-beta1">
        <i class="fa fa-github fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;get source code
    </a>
</div>


<div class="jumbotron page">
    <h2>What is...?</h2>
    <h3>What is...?</h3>
    
</div>