<div class="demo-status-box">
    <h2>
        Hello again!,
    </h2>
    <p class="lead">
        <br/>
        <br />
        ...and I'm also an embedded Razor view and my path is <strong>@Path</strong>
        <br/>
        <br/>
        Click the big button to switch themes...
        <br/>
        <br/>
    </p>
</div>